@use "../../styles/colors";
@use "../../styles/spacing";
@use "../../styles/typography";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$toolbar-background;
  font-weight: 600;
}

.toolbar img {
  margin: 0 spacing.$space-normal;
  width: 10%;
}

.toolbar a {
  text-decoration: none;
  color: white;
  padding: spacing.$space-normal;
}
