@use "../../styles/colors";
@use "../../styles/spacing";
@use "../../styles/typography";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$nav-backgroud;
  font-weight: 600;
}

.toolbar img {
  margin: 0 1rem;
}

.toolbar #twitter-logo {
  height: 2.5rem;
  margin: 0 0.5rem;
}

.toolbar #youtube-logo {
  height: 2.5rem;
  margin: 0 1rem;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
