@use "../../styles/colors";
@use "../../styles/spacing";
@use "../../styles/typography";

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$toolbar-background;
  font-weight: 600;
}

.toolbar img {
  margin: 0 spacing.$space-normal;
  width: 10%;
}

.toolbar a {
  text-decoration: none;
  color: white;
  padding: spacing.$space-normal;
}

// .toolbar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #1976d2;
//   color: white;
//   font-weight: 600;

//   img {
//     // margin: 0 16px;
//     margin: 0 spacing.$space-normal;
//     width: 10%;
//     padding: spacing.$space-normal;
//   }

//   a {
//     color: white;
//     text-decoration: none;
//     height: 40px;
//     margin: 0 8px;

//     img {
//       // margin: 0 16px;
//       margin: 0 spacing.$space-normal;
//       width: 10%;
//       // padding: spacing.$space-normal;
//     }
//   }
// }

// .toolbar #twitter-logo {
//   height: 40px;
//   margin: 0 8px;
// }

// .toolbar #youtube-logo {
//   height: 40px;
//   margin: 0 16px;
// }

// .toolbar #twitter-logo:hover,
// .toolbar #youtube-logo:hover {
//   opacity: 0.8;
// }

// @use "../../styles/colors";
// @use "../../styles/spacing";
// @use "../../styles/typography";
