// pokemon card
$card-background: #ffcc2a;
$card-border: #ffde74;
$button-border: #423f3f;

// pagination
$button-text: white;
$page-number-hover: #ffefbc;
$button-background: #9746ff;
$button-background-hover: #c397fc;
$button-disabled: grey;
$page-number-active: #ffefbc;

// navigation bar
$toolbar-background: #1976d2;
