@use "../../styles/colors";
@use "../../styles/spacing";

.profile {
  h1 {
    text-align: center;
  }

  .profile-content {
    border: 0.2rem solid colors.$card-border;
    padding-left: 6.25rem;
    padding-right: 6.25rem;

    table {
      tr {
        ul {
          padding-left: 1.25rem;
          list-style: none;
        }

        td {
          padding-top: spacing.$space-sm;

          ul {
            &:first-child {
              margin-top: 0;
            }

            li {
              padding-top: 0;
            }
          }

          &:first-child {
            vertical-align: text-top;
            font-weight: bolder;
          }

          &:last-child {
            padding-left: 1.25rem;
          }
        }
      }
    }
  }
}
