@use "../../styles/colors";
@use "../../styles/spacing";

.profile {
  h1 {
    text-align: center;
  }

  .profile-content {
    border: spacing.$space-xs solid colors.$card-border;
    padding-left: spacing.$space-xxl;
    padding-right: spacing.$space-xxl;
  }
}

.properties {
  ul {
    padding-left: spacing.$space-l;
    list-style: none;
  }

  td {
    padding-top: spacing.$space-sm;

    ul {
      &:first-child {
        margin-top: 0;
      }

      li {
        padding-top: 0;
      }
    }

    &:first-child {
      vertical-align: text-top;
      font-weight: bolder;
    }

    &:last-child {
      padding-left: spacing.$space-l;
    }
  }
}
