<!-- <pka-pokemon [pokemonName]="pokemonName"></pka-pokemon> -->
<div class="profile">
  <h1>{{ pokemonProfileData.name | titlecase }}</h1>
  <img src="{{ pokemonProfileData.src }}" alt="{{ pokemonProfileData.name }}" />
  <table>
    <tr>
      <td>Height</td>
      <td class="table-indent">{{ pokemonProfileData.height }}</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>{{ pokemonProfileData.weight }}</td>
    </tr>
    <tr>
      <td>Stats</td>
      <td>
        <ul *ngFor="let stat of pokemonProfileData.stats">
          <li>{{ stat.base_stat }} {{ stat.stat.name }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Types</td>
      <td>
        <ul *ngFor="let type of pokemonProfileData.types">
          <li>{{ type.type.name }}</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
