@use "../../styles/colors";
@use "../../styles/spacing";

.card {
  width: 15rem;
  height: 100%;
  padding: spacing.$space-sm;
  border: 0.2rem solid colors.$card-border;
  border-radius: 0.2rem;

  img {
    width: 100%;
    height: auto;
  }

  table {
    padding-left: spacing.$space-md;

    tr {
      td {
        padding-top: spacing.$space-sm;

        // padding-bottom: spacing.$space-sm;

        &:first-child {
          font-weight: bolder;
        }

        &:last-child {
          padding-left: 1.9rem;
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: large;
    padding-top: spacing.$space-normal;

    // padding-bottom: spacing.$space-lg;
    margin-top: 0;
  }
}
