@use "../styles/colors";
@use "../styles/spacing";
@use "../styles/typography";

.content {
  display: flex;
  margin: spacing.$space-xxl auto spacing.$space-xl;
  max-width: 75rem;
  flex-direction: column;
  align-items: center;
  background-color: colors.$card-background;
}

footer {
  margin-top: spacing.$space-xl;
  display: flex;
  align-items: center;
  line-height: spacing.$space-l;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

a:visited {
  color: colors.$footer-visited;
}

a:hover {
  color: colors.$footer-hover;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
